@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Poppins:wght@600&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Pacifico&family=Poppins:wght@600&family=Yanone+Kaffeesatz&display=swap');

.footerSection{
    margin-top: auto;
    padding: 5px 10px;
    background-color: #681515;
}

.footerSection > h3{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
}

.footerSection > h4{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

.authorName > a {
    color: wheat;
    font-size: 28px;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
}

.authorName > a:hover{
    color: wheat;
}