
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Poppins:wght@600&family=Yanone+Kaffeesatz&display=swap');

.bannerDetails{
    display: flex;
    padding: 20px;
    align-items: center;
}

.bannerDetailsLeft{
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
}

.bannerDetailsLeft > h1{
    font-family: 'Lobster', cursive;
}

.bannerDetailsLeft > p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.bannerDetailsLeft > button{
    background-color: #681515;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    border-radius: 25px;
}

.bannerDetailsLeft > button:hover{
    background-color: #9c2828; 
}

.bannerDetailsRight{
    padding: 20px;
}


@media only screen and (max-width: 600px) {
  .bannerDetails{
    flex-direction: column-reverse;
  }
}