@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Pacifico&family=Poppins:wght@600&family=Yanone+Kaffeesatz&display=swap');

.serviceSectionCard{
  border: 1px solid #7E372F;
  border-radius: 10px;
  padding: 10px 0;
  width: 320px;
  height: 600px; 
  position: relative;
  margin: 20px auto;
  font-family: 'Poppins', sans-serif;
}

.serviceSectionCard > img {
  width: 310px;
  height: 280px;
  border-radius: 10px;
  margin: 0 4px;
}

.serviceSectionInfo{
  padding: 10px;
}




.serviceSectionCard > button {
  width: 100%;
  background-color: #681515; 
  color: white;
  border: none;
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.serviceSectionCard > button:hover {
  background-color: #9c2828;
}



