@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Pacifico&family=Poppins:wght@600&family=Yanone+Kaffeesatz&display=swap');

.serviceDetailsContainer{
    display: flex;
    padding: 20px;
    align-items: center;
}

.serviceDetailsContainerLeft{
    padding: 10px;
    text-align: justify;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


@media only screen and (max-width: 600px) {
 .serviceDetailsContainer{
    flex-direction: column;
  }
}